<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h2>Ofertas</h2>
        <div class="card-deck">
          <div class="card" *ngFor="let oferta of ofertas">
            <div class="card-body">
              <h5 class="card-title">{{ oferta.titulo }}</h5>
              <p class="card-text">{{ oferta.descripcion }}</p>
              <p class="card-text"><small class="text-muted">Precio: {{ oferta.precio }}</small></p>
              <p class="card-text"><small class="text-muted">Fecha de Comienzo: {{ oferta.fechaComienzo | date }}</small></p>
              <p class="card-text"><small class="text-muted">Lugar: {{ oferta.lugar }}</small></p>
              
              <!-- Condicionalmente mostrar los botones -->
              <button *ngIf="canEdit(oferta)" class="btn btn-primary" (click)="editOferta(oferta)">Editar</button>
              <button *ngIf="canDelete(oferta)" class="btn btn-danger" (click)="deleteOferta(oferta.id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  