<nav class="navbar bg-body-tertiary sticky-top shadow mw-100">
    <div class="container-fluid col-md-9 ">
      <a class="navbar-brand" href="/home"><img src="../../assets/img/logos/logo_y_texto_negro.jpeg" alt="QuickGig Logo" width="100px" height="42px"></a>
  
      <!-- Nav-pills for large screens -->
      <ul class="nav nav-pills ms-auto d-none d-md-flex justify-content-evenly">
        
        <li class="nav-item" *ngIf="isUserAdmin()">
          <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="isUserUser()">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">Mi Perfil</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/ofertas" routerLinkActive="active">Empleos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/perfiles" routerLinkActive="active">Profesionales</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/oferta/nueva" routerLinkActive="active">Sube tu Oferta</a>
        </li>
        
        
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" href="/home" (click)="logout()">Logout</a>
        </li>
      </ul>
  
      <!-- Button for offcanvas menu, only visible on md and below -->
      <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Offcanvas for small screens -->
      <div class="offcanvas offcanvas-end d-md-none" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item" *ngIf="isUserAdmin()">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="isUserUser()">
              <a class="nav-link" routerLink="/user" routerLinkActive="active">Mi Perfil</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" routerLink="/oferta/nueva" routerLinkActive="active">Sube tu Oferta</a>
              </li>
            <li class="nav-item" *ngIf="isAuthenticated">
              <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </nav>
  