<div class="container mt-4">
    <div class="row">
      <div class="col-10">
        <h3>Lista de Usuarios</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.rol }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteUser(user.email)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  