<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h2>{{ ofertaId ? 'Actualizar Oferta' : 'Crear Oferta' }}</h2>
        <form [formGroup]="ofertaForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" id="titulo" formControlName="titulo" class="form-control" 
                   [class.is-invalid]="ofertaForm.get('titulo').invalid && (ofertaForm.get('titulo').dirty || ofertaForm.get('titulo').touched)">
            <div *ngIf="ofertaForm.get('titulo').invalid && (ofertaForm.get('titulo').dirty || ofertaForm.get('titulo').touched)" class="invalid-feedback">
              <div *ngIf="ofertaForm.get('titulo').errors['required']">El título es obligatorio.</div>
              <div *ngIf="ofertaForm.get('titulo').errors['maxlength']">Máximo de caracteres 50 en título.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control" 
                      [class.is-invalid]="ofertaForm.get('descripcion').invalid && (ofertaForm.get('descripcion').dirty || ofertaForm.get('descripcion').touched)"></textarea>
            <div *ngIf="ofertaForm.get('descripcion').invalid && (ofertaForm.get('descripcion').dirty || ofertaForm.get('descripcion').touched)" class="invalid-feedback">
              <div *ngIf="ofertaForm.get('descripcion').errors['maxlength']">Máximo de caracteres 200 en descripción.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" id="precio" formControlName="precio" class="form-control" 
                   [class.is-invalid]="ofertaForm.get('precio').invalid && (ofertaForm.get('precio').dirty || ofertaForm.get('precio').touched)">
            <div *ngIf="ofertaForm.get('precio').invalid && (ofertaForm.get('precio').dirty || ofertaForm.get('precio').touched)" class="invalid-feedback">
              <div *ngIf="ofertaForm.get('precio').errors['required']">El precio es obligatorio.</div>
              <div *ngIf="ofertaForm.get('precio').errors['min']">El precio debe ser mayor o igual a 0.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="fechaCreacion" class="form-label">Fecha de Creación</label>
            <input type="date" id="fechaCreacion" formControlName="fechaCreacion" class="form-control" 
                   [class.is-invalid]="ofertaForm.get('fechaCreacion').invalid && (ofertaForm.get('fechaCreacion').dirty || ofertaForm.get('fechaCreacion').touched)">
            <div *ngIf="ofertaForm.get('fechaCreacion').invalid && (ofertaForm.get('fechaCreacion').dirty || ofertaForm.get('fechaCreacion').touched)" class="invalid-feedback">
              <div *ngIf="ofertaForm.get('fechaCreacion').errors['required']">La fecha de creación es obligatoria.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="fechaComienzo" class="form-label">Fecha de Comienzo</label>
            <input type="date" id="fechaComienzo" formControlName="fechaComienzo" class="form-control" 
                   [class.is-invalid]="ofertaForm.get('fechaComienzo').invalid && (ofertaForm.get('fechaComienzo').dirty || ofertaForm.get('fechaComienzo').touched)">
            <div *ngIf="ofertaForm.get('fechaComienzo').invalid && (ofertaForm.get('fechaComienzo').dirty || ofertaForm.get('fechaComienzo').touched)" class="invalid-feedback">
              <div *ngIf="ofertaForm.get('fechaComienzo').errors['required']">La fecha de comienzo es obligatoria.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="lugar" class="form-label">Lugar</label>
            <select id="lugar" formControlName="lugar" class="form-select" 
                    [class.is-invalid]="ofertaForm.get('lugar').invalid && (ofertaForm.get('lugar').dirty || ofertaForm.get('lugar').touched)">
              <option *ngFor="let lugar of lugaresDisponibles" [value]="lugar">{{ lugar }}</option>
            </select>
            <div *ngIf="ofertaForm.get('lugar').invalid && (ofertaForm.get('lugar').dirty || ofertaForm.get('lugar').touched)" class="invalid-feedback">
              <div *ngIf="ofertaForm.get('lugar').errors['required']">El lugar es obligatorio.</div>
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary">{{ ofertaId ? 'Actualizar' : 'Crear' }} Oferta</button>
        </form>
      </div>
    </div>
  </div>
  